.o_view_nocontent {
    &_ple_report:before {
        @extend %o-nocontent-init-image;
        width: 250px;
        height: 250px;
        background: transparent url(/l10n_pe_ple_reports/static/img/ple_report.png)
            no-repeat center;
        background-size: 250px 250px;
    }
}
